.silicatos{
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.about-container {
  background-color: #4b4848bb;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px;
}
.about-container h2 {
  color: #1d1c1c;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 10px;
}
.about-container p {
  color: #e7e0e0;
  line-height: 1.6;
  margin-bottom: 20px;
}
.about-section {
  margin-bottom: 40px;
}
.about-section:last-child {
  margin-bottom: 0;
}
@media (max-width:900px) {
  .about-container p{
    margin-bottom: 0;
    font-size: 13px;
  }
}